html, body { 
  height: 100%; 
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#map {
height: 100%;
z-index: 1;
}

#sidebar {
  height: 98vh;
  width: 300px;
  position: fixed;
  top: 0;
  right: -300px;
  transition: right 0.3s ease;
  z-index: 2;
  font-size: 0.8em;
  background: #f6f6f6;
  padding: 0;
  border-left: solid 5px  rgba(64, 64, 64, 0.5);
  border-bottom: solid 5px  rgba(64, 64, 64, 0.5);
}

#sidebar h1 {
  font-family: 'Lexend Deca', sans-serif; 
  margin: 0;
  padding-top: 15px;
  background:rgba(64, 64, 64, 0.5);
  font-size: 1.5em;
  color: #fff;
  text-align: center;
}

#sidebar p.sidebar-hsub {
  font-family: 'Lexend Deca', sans-serif; 
  margin: 0;
  padding: 10px 0 10px 0;
  background:rgba(64, 64, 64, 0.5);
  font-size: 0.9em;
  color: #fff;
  text-align: center;
}

#sidebar h2 {
  color: maroon;
  font-weight: bold;
  font-size: 1.2em;
  margin: 15px 5px 0 15px;
}

#sidebar p {
  margin: 15px 5px 0 15px;
}

#sidebar.show {
  right: 0;
}

#sidebar-toggle {
  position: fixed;
  top: 10px;
  right: 0;
  background: transparent;
  transition: right 0.3s ease;
  cursor: pointer;
  z-index: 999;
  border: none;
}

#sidebar-toggle.show {
  right: 300px; 
}

#download-button {
  position: fixed;
  bottom: 25px;
  right: 0;
  background: transparent;
  transition: right 0.3s ease;
  cursor: pointer;
  z-index: 999;
  border: none;
}

#download-button.show {
  right: 300px; 
}

#map-title {
  position: absolute;
  top: 10px;
  /*left: 50%;*/
  right: 10px;
  /*transform: translateX(-70%);*/
  padding: 5px 15px 14px 15px;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 15px;
  border: solid 1px black;
  font-family: 'Lexend Deca', sans-serif; 
  font-size: 1.2em;
  color: black;
  z-index: 2;
  line-height: 0.4;
  text-align: center;
  max-width: 300px;
}
        
#map-title .sub {
  font-size: 0.53em;
  line-height: 0.9;
  margin-top: 0px;
  padding-top: 0px;
}

@media(max-width:599px){.only-small{display:inherit!important}.only-large{display:none!important}}
@media(min-width:600px){.only-small{display:none!important}.only-large{display:inherit!important}}
