html, body { 
  height: 100%; 
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#map {
height: 100%;
z-index: 1;
}

#sidebar, #downloadbar, #helpbar {
  height: 98vh;
  width: 300px;
  position: fixed;
  top: 0;
  right: -300px;
  transition: right 0.3s ease;
  z-index: 5;
  font-size: 0.8em;
  background: #f6f6f6;
  padding: 0;
  border-left: solid 5px  rgba(64, 64, 64, 0.5);
  border-bottom: solid 5px  rgba(64, 64, 64, 0.5);
}

#sidebar h1, #downloadbar h1, #helpbar h1 {
  font-family: 'Lexend Deca', sans-serif; 
  margin: 0;
  padding-top: 15px;
  background:rgba(64, 64, 64, 0.5);
  font-size: 1.5em;
  color: #fff;
  text-align: center;
}

#sidebar p.sidebar-hsub, #downloadbar p.downloadbar-hsub, #helpbar p.helpbar-hsub {
  font-family: 'Lexend Deca', sans-serif; 
  margin: 0;
  padding: 10px 0 10px 0;
  background:rgba(64, 64, 64, 0.5);
  font-size: 0.9em;
  color: #fff;
  text-align: center;
}

#sidebar h2, #downloadbar h2, #helpbar h2 {
  color: maroon;
  font-weight: bold;
  font-size: 1.2em;
  margin: 15px 5px 0 15px;
}

#sidebar p, #downloadbar p, #helpbar p {
  margin: 15px 5px 0 15px;
}

#sidebar.show, #downloadbar.show, #helpbar.show {
  right: 0;
}

#sidebar-toggle {
  position: fixed;
  top: 10px;
  right: 0;
  background: transparent;
  transition: right 0.3s ease;
  cursor: pointer;
  z-index: 4;
  border: none;
}

#downloadbar-toggle {
  position: fixed;
  top: 50px;
  right: 0;
  background: transparent;
  transition: right 0.3s ease;
  cursor: pointer;
  z-index: 4;
  border: none;
}

#helpbar-toggle {
  position: fixed;
  top: 90px;
  right: 0;
  background: transparent;
  transition: right 0.3s ease;
  cursor: pointer;
  z-index: 4;
  border: none;
}

#sidebar-toggle.show, #downloadbar-toggle.show, #helpbar-toggle.show {
  right: 300px; 
}

#sidebar-toggle.hidden, #downloadbar-toggle.hidden, #helpbar-toggle.hidden {
  z-index: 0;
  transition: z-index 0.3s ease;
}

#download-button {
  background-color: rgba(64, 64, 64, 0.5);
  color: #fff;
  border: none;
  padding: 3px 20px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em; /
  margin: 4px 2px; 
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin: 15px 0 15px 0;
}

#download-button:hover {
  background-color: rgba(80, 80, 80, 0.5);
}

.center {
  text-align: center;
}

#map-title {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 15px 14px 15px;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 15px;
  border: solid 1px black;
  font-family: 'Lexend Deca', sans-serif; 
  font-size: 1.2em;
  color: black;
  z-index: 2;
  line-height: 0.4;
  text-align: center;
  max-width: 300px;
}
        
#map-title .sub {
  font-size: 0.53em;
  line-height: 0.9;
  margin-top: 0px;
  padding-top: 0px;
}

@media(max-width:599px){.only-small{display:inherit!important}.only-large{display:none!important}}
@media(min-width:600px){.only-small{display:none!important}.only-large{display:inherit!important}}
